In [1]:
%cd C:/Users/sylee/Documents/GitHub/Final_2Kyoungh/data_detail

C:\Users\sylee\Documents\GitHub\Final_2Kyoungh\data_detail

In [2]:
import requests
import json
import pandas as pd
import urllib.request

## 기본 세팅 부분
headers = {"X-Naver-Client-Id": "lJrKhZKFXCGXSoYzh7f7",
           "X-Naver-Client-Secret":"YYPQvTkBxR",
           "Content-Type": "application/json"}

url = "https://openapi.naver.com/v1/datalab/shopping/category/gender"

def change_index(df, column_name):
    df = df.set_index("period")
    df.columns = [column_name]
    return df

In [3]:
#         ## 컴퓨터 및 주변기기
#         {"name": "PC", "param": [ "50000089"]},
#         {"name": "PC부품", "param": [ "50000097"]},
#         {"name": "PC액세서리", "param": [ "50000090"]},
#         {"name": "저장장치", "param": [ "50000096"]},
#         {"name": "멀티미디어장비", "param": [ "50000095"]},
#         {"name": "모니터", "param": [ "50000153"]},
#         {"name": "모니터주변기기", "param": [ "50000093"]},
#         {"name": "노트북", "param": [ "50000151"]},
#         {"name": "노트북액세서리", "param": [ "50000091"]},
#         {"name": "소프트웨어", "param": [ "50000099"]},
#         {"name": "주변기기", "param": [ "50000094"]},



data = {
  "startDate": "2021-05-10",
  "endDate": "2023-07-03",
  "timeUnit": "date",
  "category": "50000093",
    ## 카테고리 
  "device":"",
  #"gender":"",
  "ages":['20']
}

response = requests.post(url, headers=headers, json=data)

results = response.json()["results"]

results
df_a = pd.DataFrame(results[0]["data"])
df_a

          period     ratio group
0     2021-05-10  13.05383     f
1     2021-05-10  24.66650     m
2     2021-05-11  12.43449     f
3     2021-05-11  21.96283     m
4     2021-05-12  12.52977     f
...          ...       ...   ...
1565  2023-07-01  16.00762     m
1566  2023-07-02  10.93377     f
1567  2023-07-02  19.54502     m
1568  2023-07-03  13.28013     f
1569  2023-07-03  21.47451     m

[1570 rows x 3 columns]

In [4]:
df_a.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1570 entries, 0 to 1569
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   period  1570 non-null   object
 1   ratio   1570 non-null   float64
 2   group   1570 non-null   object
dtypes: float64(1), object(2)
memory usage: 36.9+ KB

In [5]:
df_f = df_a[::2]
df_m = df_a[1::2]

In [6]:
df_f

          period     ratio group
0     2021-05-10  13.05383     f
2     2021-05-11  12.43449     f
4     2021-05-12  12.52977     f
6     2021-05-13  12.22010     f
8     2021-05-14  11.91043     f
...          ...       ...   ...
1560  2023-06-29  11.77941     f
1562  2023-06-30  10.13577     f
1564  2023-07-01   8.39685     f
1566  2023-07-02  10.93377     f
1568  2023-07-03  13.28013     f

[785 rows x 3 columns]

In [7]:
df_f.reset_index(inplace=True)
df_f.rename(columns={'ratio':'ratio_f'},inplace=True)
df_f.drop(["group","index"],axis=1, inplace=True)
df_f

C:\Users\sylee\AppData\Local\Temp\ipykernel_1572\682579043.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_f.rename(columns={'ratio':'ratio_f'},inplace=True)
C:\Users\sylee\AppData\Local\Temp\ipykernel_1572\682579043.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_f.drop(["group","index"],axis=1, inplace=True)

         period   ratio_f
0    2021-05-10  13.05383
1    2021-05-11  12.43449
2    2021-05-12  12.52977
3    2021-05-13  12.22010
4    2021-05-14  11.91043
..          ...       ...
780  2023-06-29  11.77941
781  2023-06-30  10.13577
782  2023-07-01   8.39685
783  2023-07-02  10.93377
784  2023-07-03  13.28013

[785 rows x 2 columns]

In [8]:
df_m.reset_index(inplace=True)
df_m.rename(columns={'ratio':'ratio_m'},inplace=True)
df_m.drop(["group","index"],axis=1, inplace=True)
df_m

C:\Users\sylee\AppData\Local\Temp\ipykernel_1572\4195156310.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_m.rename(columns={'ratio':'ratio_m'},inplace=True)
C:\Users\sylee\AppData\Local\Temp\ipykernel_1572\4195156310.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_m.drop(["group","index"],axis=1, inplace=True)

         period   ratio_m
0    2021-05-10  24.66650
1    2021-05-11  21.96283
2    2021-05-12  20.68842
3    2021-05-13  21.29585
4    2021-05-14  19.42591
..          ...       ...
780  2023-06-29  18.25869
781  2023-06-30  16.92472
782  2023-07-01  16.00762
783  2023-07-02  19.54502
784  2023-07-03  21.47451

[785 rows x 2 columns]

In [9]:
df_gender = pd.merge(df_f, df_m, left_on="period", right_on="period")
df_gender

         period   ratio_f   ratio_m
0    2021-05-10  13.05383  24.66650
1    2021-05-11  12.43449  21.96283
2    2021-05-12  12.52977  20.68842
3    2021-05-13  12.22010  21.29585
4    2021-05-14  11.91043  19.42591
..          ...       ...       ...
780  2023-06-29  11.77941  18.25869
781  2023-06-30  10.13577  16.92472
782  2023-07-01   8.39685  16.00762
783  2023-07-02  10.93377  19.54502
784  2023-07-03  13.28013  21.47451

[785 rows x 3 columns]

In [10]:
df_gender.set_index("period", inplace=True)

In [11]:
df_gender.to_excel("MCLS_04_gender_20_모니터주변기기.xlsx", sheet_name="click ratio")
df_gender.head()

             ratio_f   ratio_m
period
2021-05-10  13.05383  24.66650
2021-05-11  12.43449  21.96283
2021-05-12  12.52977  20.68842
2021-05-13  12.22010  21.29585
2021-05-14  11.91043  19.42591